
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #232323;
    margin: 0;
}
h1{
    color: #FFFFFF;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
    background: steelblue;
    margin: 0;
    padding: 20px 0;
}
button{
    font-family: 'Montserrat', sans-serif;
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 600;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}
button:hover{
    color: #FFFFFF;
    background: steelblue;
}

.square{
    width: 30%;
    background: #7722BB;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}
.selected{
    color: #FFFFFF;
    background: steelblue;
}

#container{
    margin: 20px auto;
    max-width: 600px;
}
#stripe{
    background: #FFFFFF;
    height: 30px;
    text-align: center;
    color: #000000;
}
#colorDisplay{
    font-size: 200%;
}
#message{
    display: inline-block;
    width: 20%;
}